# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (MonoDevelop/Xamarin Studio)
*.userprefs


# Build results
[Bb]in/
[Oo]bj/

# Visual Studio 2015/2017 cache/options directory
.vs/

# Visual Studio Code
.vscode/

# Rider
.idea/
Demo-ASP.NET-Core/k8s/deployment.yaml
Demo-ASP.NET-Core/k8s/namespace.yaml
Demo-ASP.NET-Core/k8s/README.md
Demo-ASP.NET-Core/k8s/registry-secret.yaml
Demo-ASP.NET-Core/k8s/secrect.yaml
Demo-ASP.NET-Core/k8s/TROUBLESHOOTING.md
Demo-ASP.NET-Core/SKIASHARP_FIX.md
